// https://ant-design.gitee.io/docs/spec/colors-cn

// Usually
@default-color: #597ef7;
@hover-color: #85a5ff;
@active-color: #1d39c4;

@default-font-color: #ffffff;
@default-font-size: 16px;

@default-border-radius: 2px;
