@import './init.less';

// https://icomoon.io/app/#/select
@import '//at.alicdn.com/t/font_3270921_en9pvejby4d.css';

// https://ant-design.gitee.io/docs/spec/colors-cn

// Usually
@default-color: #597ef7;
@hover-color: #85a5ff;
@active-color: #1d39c4;

@default-font-color: #ffffff;
@default-font-size: 16px;

@default-border-radius: 2px;
@default-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0px rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

// message
@message-top: 30px;
@message-z-index: 100;
@message-success: #a0d911;
@message-info: #bfbfbf;
@message-warn: #fa8c16;
@message-error: #f5222d;

// icon
@icon-background-color: #597ef7;

// Clock
@clock-outer-width: 216px;
@clock-outer-height: 216px;

// Tooltip
@tooltip-background-color: #434343;
@tooltip-color: #fff;
@toolyip-distance: 16px;

// Input
::placeholder {
  color: #bfbfbf;
  opacity: 1;
}
@input-border-color: #d9d9d9;
@input-active-border-color: @default-color;
@input-active-border-outline-color: @hover-color;
