@import '../_style/global.less';

.mixins-hover {
  border-color: @hover-color;
  color: @hover-color;
}
.mixins-active {
  border-color: @active-color;
  color: @active-color;
}

.b-upload {
  &-filelist {
    list-style: none;
    padding-left: 0;
    & > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      padding: 0 8px;
      transition: all 0.3s;
      &:hover {
        background-color: #f5f5f5;
        > span:last-child {
          display: block !important;
        }
      }
      & > span:first-child {
        display: inline-block;
        max-width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .b-upload-dragger {
    border: 1px dashed #e7e7e7;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      .mixins-hover();
    }
    &:active {
      .mixins-active();
    }

    .b-upload-dragger-default {
      display: grid;
      place-content: center;
      text-align: center;
      & > span {
        font-size: 20px;
      }
    }
  }
  .b-upload-dragger-hover {
    .mixins-hover();
  }
  // .b-upload-dragger-active {
  //   .mixins-active();
  // }
}
